*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  cursor: url(../cursors/MOUSEMUSH2.png), auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
}

.onhover:hover {
  filter:invert(200);
}

header img {
  mix-blend-mode: hard-light;
}

section {
  margin: 2rem;
}

section video {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 2rem;
  padding: 5rem;
}

.grid video {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: url(../cursors/MOUSEMUSHRED.png), pointer;
}

.project-page-grids {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5rem;
  margin: 5rem;
  padding: 5rem;
}

.project-page-grids-version2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin: 5rem;
  padding: 5rem;
}

.project-page-grids video {
  border-radius: 5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

 .project-page-grids img {
  border-radius: 5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

} 

.project-page-grids-version2 img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

} 

