*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

header img {
  mix-blend-mode: hard-light;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 2rem;
}

.grid video {
  border-radius: 1rem;
  width: 100%;
}

